
.evo-input,.evo-password {
    border:none;
    border-bottom:1pt solid orange;
    font-size: 2rem;
}

.evo-password{
    width: 100%;
    box-shadow: none;
    
}
.evo-password > input{
    border: none;
    width: 100%;
    box-shadow: none;
    font-size: 2rem;
}
.evo-password > input:enabled:focus{
    border: none;
    width: 100%;
    box-shadow: none;
}